.homeContainer{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 60vw 40vw;
  justify-content: center;
  justify-items: center;
}

.homeText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items:center;
  width: 100%;
}

.homeText p{
  white-space: nowrap;
  /* display: flex;
  flex-direction: row;
  align-items: flex-end; */
  /* text-align: right; */
  margin-left: 20vw; 
  margin-top: 2vh;
  font-size: 2rem;
  font-weight:800;
}

.homeText h1{
  font-size: 1.8rem;
  font-weight:600;
}

.homeText span{
  color: wheat;
  font-size: 2.5rem;
  font-weight: 800;
}


.homeImage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items:center;
  height: 100%;
  width: 100%;
}

/* .homeImage img{
  height: 100%;
  width: 100%;
} */

.homeImage img{
  height: 90%;
  width: 80%;
}

.homeImage svg{
  height: 90%;
  width: 80%;
}

/* @media screen and (max-width: 948px){
  .homeText p{
    margin-top: 2vh;
    margin-left: 10vw;
    font-size: 1.7rem;
    font-weight:bold;
  }

  .homeText h1{
    font-size: 1.4rem;
    font-weight:600;
  }

  .homeText span{
    font-size: 1.8rem;
    font-weight: 800;
  }
} */

@media screen and (max-width: 768px){
 .homeContainer{
  grid-template-columns: 100%;
  align-items: center;
 }

 .homeImage{
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: -20;
  opacity: 0.8;
 }

 /* .homeImage img{
  width: 60vw;
  max-width: 400px;
  min-width: 280px;
 } */

 .homeImage img{
  height: 40vh;
  width: 80%;
  position: relative;
  top: -12vh;
 }

 .homeImage svg{
  height: 40vh;
  width: 80%;
 }

 .homeText{
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: -10;

  justify-content:flex-end;
  /* margin-bottom: 8vw; */

  color: white;
  height: 65vh;
 }

 .homeText p{
  margin-top: 1vw;
  margin-left: 10vw;
  font-size: 1.3rem;
  font-weight:700;
}

.homeText h1{
  font-size: 1rem;
  font-weight:700;
}

 .homeText span{
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(239, 181, 74);
 }
}


/* @media screen and (max-width: 348px){
  
  .homeText p{
    font-size: 1.4rem;
    font-weight:600;
  }

  .homeText h1{
    font-size: 1.2rem;
    font-weight:500;
  }

  .homeText span{
    font-size: 1.6rem;
    font-weight: 700;
  }
 } */