*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  /* border: 1px solid red; */
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
  background-color:#0a0a14;
  color: whitesmoke;
}

html{
  overflow-x: hidden;
}
